@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.HomeContainer {
    width: 80%;
    // text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .new-project-form {
    display: flex;
    flex-direction: column;
  }
